:root {
    --primaryColor: #4d394b;
    --accentColor: #4C9689;
    --bodyTextColor: #2c2d30;
    --borderColor: #717274;
    --inputBorder: #a0a0a2;
    --linkColor: #0576b9;
    --sidebarSearchDolor: rgb(52,32,50);

    --primaryFont: 'Lato';
}

h1, h2, h3, h4, h5, p, a, button {
    font-family: var(--primaryFont);
    text-decoration: none;
    margin: 0;
}

button:hover, button:active, button:focus, a:hover, a:focus {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
    flex-basis: 200px;
    max-width: 220px;
    padding: 50px 15px 0 15px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
}

.options {
    flex-basis: 53px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.messages {
    height: 684px;
}

.create {
    display: flex;
    min-height: 41px;
    max-height: none;
}

.create__input {
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    width: 100%;
    margin: 0 1.25rem;
}

/* Additional global styles */

.input__label {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-bottom: 4px;
}

