:root {
    --primaryColor: #2F3E50;
    --accentColor: #4C9689;
    --bodyTextColor: #2c2d30;
    --borderColor: #717274;
    --inputBorder: #a0a0a2;
    --linkColor: #0576b9;
    --sidebarSearchDolor: rgb(52,32,50);

    --primaryFont: 'Lato';
}

h1, h2, h3, h4, h5, p, a, button {
    font-family: var(--primaryFont);
    color: var(--bodyTextColor);
    text-decoration: none;
    margin: 0;
}

button:hover, button:active, button:focus, a:hover, a:focus, input:focus, input:active  {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #E8E8E8!important;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
    flex-basis: 200px;
    max-width: 220px;
    min-width: 220px;
    padding: 0px 12px 0 12px;
    overflow: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
}

.messages {
    height: 88%;
    overflow: scroll;
    padding: 20px 30px 0 30px;
}

.write {
    display: flex;
    position: relative;
    min-height: 42px;
    max-height: none;
    margin: 0 30px 0px 30px;
    padding-bottom: 25px!important;
}

.write__upload {
    border: 2px solid var(--borderColor);
    margin: 0;
    padding: 0!important;
    opacity: .5;
    border-radius: 6px 0 0 6px;;
    width: 50px!important;
    z-index: 1;
}

.write__upload--add {
    margin-left:2px!important;
}

.write__upload:hover {
    cursor: pointer;
    background-color: #0fb673;
    border: 2px solid #008952;
    opacity: 1;
    color: white;
}

.write__input {
    padding-left: 10px;
    font-size: 15px;
    z-index: 2;
    border: 2px solid var(--borderColor);
    opacity: .5;
    border-radius: 0 6px 6px 0;
    border-left: none;
    width: 95%;
}

.write__input:active, .write__input:focus {
    opacity: 1;
}

/* Additional global styles */

.input__label {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-bottom: 4px;
}

