.message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 17px;
}

.message__newUser {
    opacity: .6;
}

.message__right {
    display: flex;
    flex-direction: column;
}

.message__title {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
}

.message__title--user {
    font-family: 'Lato'!important;
    color: var(--bodyTextColor);
    font-weight: 900!important;
    font-size: 15px;
    margin-right: 5px;
}

.message__title--date {
    color: var(--borderColor);
    font-weight: 400;
    font-size: 12px;
}

.messages__avatar {
    height: 35px;
    width: 35px;
    margin: 5px 10px 0 0;

}

.message__body {
    color: var(--bodyTextColor);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
}