.message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 80%;
}

.message__right {
    display: flex;
    flex-direction: column;
}

.message__title {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.message__title--user {
    color: var(--bodyTextColor);
    font-weight: 800;
    font-size: 16px;
    margin-right: 5px;
}

.message__title--date {
    color: var(--borderColor);
    font-weight: 400;
    font-size: 12px;
}

.messages__avatar {
    height: 30px;
    width: 30px;
    margin: 5px 10px;

}

.message__body {
    color: var(--bodyTextColor);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
}