.options {
    display: flex;
    flex-basis: 53px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    padding: .7rem 30px 0 30px;
}

.options__left {
    display: flex;
    flex-direction: column;
}

.options__channel {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 4px;
}

.options__purpose {
    font-size: 12px;
    color: var(--inputBorder);
}
